services:
  mongodb:
    image: mongo
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo:/data
    environment:
      - MONGO_INITDB_ROOT_USERNAME=andyyo
      - MONGO_INITDB_ROOT_PASSWORD=andyyo
  mongo-express:
      image: mongo-express
      container_name: mongo_express
      restart: always
      ports:
        - "8082:8082"
      environment:
        - ME_CONFIG_MONGODB_ADMINUSERNAME=andyyo
        - ME_CONFIG_MONGODB_ADMINPASSWORD=andyyo
        - ME_CONFIG_MONGODB_SERVER=mongodb
volumes:
  mongo: {}
