/* General Body Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

/* User Form Styling */
.user-form {
    max-width: 400px;
    width: 100%; /* Ensures responsiveness */
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.user-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

.user-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: #333;
    text-align: left; /* Align labels to the left */
}

.user-form input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
    box-sizing: border-box;
}

.user-form input:focus {
    border-color: #1abc9c;
    outline: none;
    box-shadow: 0 0 5px rgba(26, 188, 156, 0.5);
}

.user-form button {
    padding: 12px;
    border: none;
    background-color: #34495e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.user-form button:hover {
    background-color: #16a085; /* Slightly darker button on hover */
}

/* Chat Container Styling */
.chat-container {
    display: flex;
    width: 1050px;
    height: 600px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.users-list {
    width: 350px;

    border-right: 1px solid #ccc;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: #34495e;
    color: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.users-list-container {
    height: 100%;
    width:300px;
    /*overflow-y: scroll;*/
    overflow: auto;  /* 超出範圍時才會出現捲軸 */
    padding-right: 5px;
    box-sizing: content-box;
}

.users-list h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.users-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.user-item.active {
    background-color: #cdebff;
    color: #4f4f4f;
    padding: 10px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.user-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item span {
    font-weight: bold;
}

.separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.chat-area {
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.message {
    margin-bottom: 5px;
    border-radius: 5px;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    /*overflow-y: scroll;*/
    overflow: auto;
    flex-grow: 1;
}

.message p {
    padding: 0 12px;
    border-radius: 15px;
    word-wrap: break-word;
}

.user-item span.nbr-msg {
    margin-left: 10px;
    background-color: #f8fa6f;
    color: white;
    padding: 5px;
    width: 10px;
    border-radius: 50%;
    height: 10px;
}

.sender {
    background-color: #34495e;
    color: #fff;
    align-self: flex-end;
    margin: 15px;
}

.receiver {
    background-color: #ecf0f1;
    color: #333;
    align-self: flex-start;
    margin: 15px;
}

.message-input {
    margin-top: 10px;
    display: flex;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
}

.message-input input:focus {
    border-color: #1abc9c;
    outline: none;
    box-shadow: 0 0 5px rgba(26, 188, 156, 0.5);
}

.message-input button {
    padding: 10px;
    border: none;
    background-color: #34495e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message-input button:hover {
    background-color: #16a085; /* Slightly darker button on hover */
}

/* Hidden Class */
.hidden {
    display: none;
}

a.logout {
    color: #fff;
    text-decoration: none;
}

.register-form {
    max-width: 400px;
    width: 100%; /* Ensures responsiveness */
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.register-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.register-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: #333;
    text-align: left; /* Align labels to the left */
}

.register-form input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
    box-sizing: border-box;
}

.register-form input:focus {
    border-color: #1abc9c;
    outline: none;
    box-shadow: 0 0 5px rgba(26, 188, 156, 0.5);
}

.register-form button {
    padding: 12px;
    border: none;
    background-color: #34495e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.register-form button:hover {
    background-color: #16a085; /* Slightly darker button on hover */
}
